@font-face {
    font-family: 'Google Sans';
    src: url('./assets/fonts/Google-Sans/static/GoogleSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('./assets/fonts/Google-Sans/static/GoogleSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "Google Sans", sans-serif;
}