.close-basket-mobile {
    display: none;
}

.basket-section {
    width: 350px;
    position: sticky;
    top: 20px;
    z-index: 100;
    margin-top: 40px;
    height: fit-content;
    background-color: transparent; 
}

.basket-card {
    background-color: #2d3133;
    color: white;
    border-radius: 20px 0px 0px 20px;
    padding: 24px;
    box-shadow: var(--shadow);
}

.basket-card h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.basket-items {
    max-height: 270px; 
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.basket-items::-webkit-scrollbar {
    width: 6px;
}
.basket-items::-webkit-scrollbar-thumb {
    background: #6f7377;
    border-radius: 10px;
}

.basket-item {
    background-color: #fceee3; 
    color: #2d3133;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 12px;
    position: relative;
}

.item-name-row {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 15px;
}

.item-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin-top: 8px;
    padding-right: 30px;
}

.item-controls button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0 5px;
    color: black;
}

.quick-delete-btn {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    transition: transform 0.2s ease;
    padding-top: 0px;
    margin-right: 8px;
    margin-bottom: 4px;
}

.quick-delete-btn:hover {
    transform: scale(1.1);
}

.quick-delete-btn .trash-icon {
    width: 18px;
    height: 18px;
}

.trash-icon {
    padding-top: 3px;
}

.basket-totals {
    border-top: 1px solid #444;
    padding-top: 15px;
    margin-top: 10px;
}

.total-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
}

.final-total {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.655);
    padding-top: 15px;
}

.buy-now-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.buy-now-btn:disabled {
    background-color: #555;
    cursor: not-allowed;
}