* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.main-container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

section.menu-section {
    flex: 2;
}

aside.basket-section {
    flex: 1;
    position: sticky;
    top: 20px;
    height: fit-content;
    background-color: var(--bg-white);
    box-shadow: var(--shadow);
    border-radius: 8px;
    padding: 16px;
}

.category-title {
    margin: 30px 0 15px 0;
    border-bottom: 2px solid var(--border-color);
}