* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--bg-light);
    color: var(--text-main);
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden; 
    width: 100%;
    position: relative;
}