* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.main-container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

section.menu-section {
    flex: 2;
}

aside.basket-section {
    flex: 1;
    position: sticky;
    top: 20px;
    height: fit-content;
    background-color: var(--bg-white);
    box-shadow: var(--shadow);
    border-radius: 8px;
    padding: 16px;
}

/* category-header section */
.category-header {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: var(--primary-color);
    margin-top: 40px;
    margin-bottom: 24px;
}

.category-header-content {
    max-width: 1140px;
    margin: 0 auto;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.category-icon {
    width: 32px;
    height: 32px;
    margin-right: 15px;
    margin-left: 16px;
    object-fit: contain;
}

.category-title-text {
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.category-header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.category-header.burger::before {
    background-image: url('../assets/icons/burger.png');
}

.category-header.pizza::before {
    background-image: url('../assets/icons/pizza.png');
}

.category-header.salad::before {
    background-image: url('../assets/icons/salad.png');
}